footer {
    background-color: $main-blue;
    color: $main-white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
  
    p {
      margin: 0;
      color: $main-white;
    }
  }
  
  button {
    &.learn-more {
      @include button-style($main-red, $main-white);
    }
  
    &.book-now {
      @include button-style($main-blue, $main-white);
    }
  }
  