.gallery-mix {
    padding: 16px;
    @include flex-center;
    flex-direction: column;
    gap: 16px;
  
    h2 {
      color: $main-blue;
    }
  
    p {
      color: $main-blue;
    }
  }
  
  .tourspics {
    @include flex-center;
    flex-direction: column;
    gap: 16px;
  
    img {
      width: 100%;
    }
  }
  
  .photos-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  
    @media screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  