@media screen and (min-width: 900px) {
    .navbar-desk {
      display: flex;
    }
  
    .navbar-mobile {
      display: none;
    }
  }
  
  @media screen and (min-width: 768px) {
    .white-header {
      flex-direction: row;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .about-2-indiv {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "img1 txt1"
      "txt2 img2";
    }
  
    .destinations2-grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .photos-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  