.navbar-desk {
    @include flex-center;
    display: none;
    justify-content: space-between;
    padding-left: 8px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(143, 143, 143, 0.60);
    height: 80px;
    border-radius: 45px;
    color: $main-blue;
    z-index: 10;
    font-weight: 500;
  
    img {
      width: 170px;
    }
  
    ul {
      display: flex;
      list-style: none;
      gap: 20px;
      padding: 0 20px;
      justify-content: center;
      margin: 0;
    }
  
    a {
      color: $main-blue;
      font-family: 'Inter';
      font-size: 16px;
      text-decoration: none;
      padding: 5px 8px;
      border-radius: 8px;
      @include transition-ease;
  
      &:hover {
        color: $main-red;
      }
    }
  
    @media screen and (min-width: 900px) {
      display: flex;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
    background-color: rgba(143, 143, 143, 0.60);
    z-index: 100;
    @include flex-center;
    justify-content: space-between;
    box-sizing: border-box;
  
    img {
      width: 120px;
    }
  
    button {
      color: $main-blue;
    }
  
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  
  .menu-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    pointer-events: none;
  
    &.active {
      pointer-events: auto;
    }
  }
  
  .backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000045;
    z-index: 110;
    opacity: 0;
    @include transition-ease;
  
    &.active {
      opacity: 1;
    }
  }
  
  .mobile-menu {
    width: 100%;
    max-width: 300px;
    height: 100%;
    background-color: $main-white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    @include transition-ease;
    z-index: 120;
  
    &.active {
      transform: translateX(0px);
    }
  
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  
    a {
      text-decoration: none;
      color: $main-blue;
      font-weight: 500;
  
      &:hover {
        color: $main-blue;
      }
    }
  }
  
  .unstyled-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .menu-icon,
  .close-icon {
    width: 36px;
    height: 36px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .menu-header {
    padding: 11px;
    @include flex-center;
    justify-content: end;
  }
  