body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #F2F2F2;
}

.navbar-desk {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(143, 143, 143, 0.6);
  height: 80px;
  border-radius: 45px;
  color: #0C1C3F;
  z-index: 10;
  font-weight: 500;
}
.navbar-desk img {
  width: 170px;
}
.navbar-desk ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0 20px;
  justify-content: center;
  margin: 0;
}
.navbar-desk a {
  color: #0C1C3F;
  font-family: "Inter";
  font-size: 16px;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 8px;
  transition: 0.3s ease-out all;
}
.navbar-desk a:hover {
  color: #DD2C26;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px;
  background-color: rgba(143, 143, 143, 0.6);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.navbar-mobile button {
  color: #0C1C3F;
}
.navbar-mobile img {
  width: 120px;
}

.menu-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  pointer-events: none;
}
.menu-container button {
  color: #0C1C3F;
}
.menu-container.active {
  pointer-events: auto;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2705882353);
  z-index: 110;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.backdrop.active {
  opacity: 1;
}

.mobile-menu {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #F2F2F2;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: 120;
}
.mobile-menu.active {
  transform: translateX(0px);
}
.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile-menu a {
  text-decoration: none;
  color: #0C1C3F;
  font-weight: 500;
}
.mobile-menu a:hover {
  color: #DD2C26;
}

.unstyled-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-icon,
.close-icon {
  width: 36px;
  height: 36px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

footer {
  background-image: url("https://public.mssnapps.com/T9HkSFAze5hFYNM1xqRaX8N0vmK9bY9I.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
}

.footer-top {
  background-color: rgba(19, 44, 99, 0.42);
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  border-radius: 18px;
  max-width: 988px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
  color: #F2F2F2;
  align-items: center;
  flex-direction: column;
  max-width: 988px;
  gap: 16px;
}

.footer-column-links {
  display: flex;
  flex-direction: column;
}
.footer-column-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 5px 0;
}
.footer-column-links li {
  margin-bottom: 5px;
  display: flex;
}
.footer-column-links a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: 200;
}
.footer-column-links a:hover {
  color: #DD2C26;
}

.social-media {
  font-size: 30px;
}
.social-media a {
  color: #F2F2F2;
  text-decoration: none;
}

.copyright {
  margin-top: 20px;
  color: #F2F2F2;
  text-align: center;
}

.Aventoura-logo2 {
  max-width: 180px;
}

.menu-header {
  padding: 11px;
  display: flex;
  justify-content: end;
}

.container {
  max-width: 1400px;
  margin: 33px auto;
}

h1, h2 {
  font-weight: 700;
  font-size: 40px;
  color: #DD2C26;
}

.white-header {
  background-image: url("https://public.mssnapps.com/T9HkSFAze5hFYNM1xqRaX8N0vmK9bY9I.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 80px;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  flex-direction: column;
}
.white-header h1 {
  color: #000;
  font-size: 20px;
}
.white-header p {
  color: #000;
  font-size: 16px;
}

.color-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
}
.color-header h1 {
  margin: 0px;
}
.color-header img {
  display: flex;
  max-width: 500px;
  border-radius: 18px;
  border: solid #F2F2F2 6px;
  justify-content: center;
  margin: 30px;
  width: 100%;
}
.color-header p {
  font-size: 16px;
  color: #0C1C3F;
}
.color-header button {
  padding: 10px 20px;
  background-color: #0C1C3F;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 11px;
}
.color-header button:hover {
  background-color: #1D345E;
}

.color-header2 {
  padding-top: 30px;
  text-align: center;
}
.color-header2 h1 {
  color: #DD2C26;
  margin-bottom: 20px;
  font-weight: bold !important;
}
.color-header2 p {
  font-size: 16px;
  margin-bottom: 40px;
}

.color-header-2 {
  text-align: center;
  padding-top: 100px;
}
.color-header-2 h1 {
  margin-bottom: 20px;
}
.color-header-2 p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.headerText {
  max-width: 650px;
}

.tower {
  max-width: 280px;
  border-radius: 18px;
  border: solid #F2F2F2 6px;
}

.pill {
  background-color: #DD2C26;
  color: #F2F2F2;
  position: absolute;
  top: 20px;
  right: 25px;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
}

.imgWrapper {
  position: relative;
  display: flex;
  align-items: end;
}

.fantasia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: #F2F2F2;
  color: #0C1C3F;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 18px 0px 18px 0px;
  width: 70%;
  height: 55px;
  padding: 16px;
  font-weight: bold;
}

.svg-container {
  display: flex;
  align-items: center;
  color: #0C1C3F;
  font-size: 14px;
}

.custom-svg {
  width: 12px;
  height: 11px;
  margin-right: 5px;
}

.visitas {
  display: flex;
  align-items: center;
  gap: 11px;
}

.metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.metrics-indiv {
  display: flex;
  justify-content: center;
  gap: 22px;
  align-items: center;
}

.big-number {
  font-weight: bold;
  font-size: 40px;
  margin: 20px 0px;
}

.about-main {
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}
.about-main img {
  max-width: 280px;
  border-radius: 0px 90px 0px 90px;
  border: solid var(--main-white) 6px;
  flex-direction: column;
  width: 100%;
}
.about-main h2 {
  color: #DD2C26;
  font-size: 20px;
}
.about-main p {
  max-width: 900px;
}
.about-main a {
  margin-top: 60px;
  display: block;
  font-weight: bold;
  color: #0C1C3F;
}
.about-main a:hover {
  color: #2959bf;
}

.destinations-txt {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  padding: 0 16px;
}
.destinations-txt img {
  border-radius: 18px;
  border: solid #F2F2F2 6px;
  justify-content: center;
  width: 100%;
}

.intro {
  max-width: 800px;
}
.intro p {
  font-size: 16px;
  color: #0C1C3F;
  margin-top: 50px;
}
.intro button {
  padding: 10px 20px;
  background-color: #0C1C3F;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 11px;
}
.intro button:hover {
  background-color: #1D345E;
}

.popular-destinations {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.popular-destinations h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #DD2C26;
}
.popular-destinations p {
  margin-bottom: 30px;
}

.destinations h2 {
  color: #DD2C26;
}

.image-scroll-main {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 10px 0;
}
.image-scroll-main img {
  width: 247px;
  height: 193px;
  border-radius: 9px;
  flex-shrink: 0;
  flex-direction: column;
}

.image-container {
  display: none;
  position: relative;
  margin: 0 auto;
  margin-bottom: 315px;
  width: 100%;
  height: 450px;
  max-width: 350px;
}
.image-container > img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.about-2 {
  display: flex;
  gap: 60px;
  flex-direction: column;
  padding: 0 16px;
}
.about-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
  border: solid #F2F2F2 6px;
}

.img2 {
  position: absolute;
  top: 70%;
  left: 0;
}

.text-2 {
  margin-right: 30px;
}
.text-2 p {
  max-width: 700px;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.testimonial-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.testimonial-title h2 {
  color: #DD2C26;
  font-size: 20px;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.testimonial {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial h3 {
  margin: 10px 0;
  font-size: 1.2em;
}
.testimonial p {
  font-size: 0.9em;
  color: #555;
}

.questions-form {
  width: 80%;
  margin: 0 auto;
}

.questions > .title {
  text-align: center;
  margin-bottom: 40px;
  color: black;
}
.questions h2 {
  margin-bottom: 20px;
  color: #DD2C26;
  font-size: 20px;
}

.contact {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact img {
  max-width: 500px;
  border-radius: 18px;
  border: solid #F2F2F2 6px;
  width: 100%;
}

.contact-txt {
  max-width: 800px;
  margin: 0 30px;
}
.contact-txt p {
  color: #0C1C3F;
}
.contact-txt button {
  padding: 10px 20px;
  background-color: #0C1C3F;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
.contact-txt button:hover {
  background-color: #1D345E;
}

.contact-form {
  max-width: 250px;
  margin: 0 auto;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form button[type=submit] {
  padding: 10px 20px;
  background-color: #0C1C3F;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
.contact-form button[type=submit]:hover {
  background-color: #1D345E;
}

.img2-destinations {
  display: none;
  justify-content: center;
  max-width: 1400px;
  border-radius: 18px;
  border: solid #F2F2F2 6px;
  width: 100%;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.tourslist h2 {
  text-align: end;
}

.tourscolumns {
  display: flex;
  align-items: flex-start;
}
.tourscolumns ul {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 900px;
}
.tourscolumns li {
  background-color: #3D4143;
  color: #F2F2F2;
  padding: 10px 50px;
  margin-bottom: 10px;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}
.tourscolumns li:hover {
  background-color: #BBC9D0;
  color: #0C1C3F;
}

.tourspics {
  display: none;
  overflow-x: auto;
}
.tourspics img {
  max-width: 300px;
  border-radius: 18px;
  border: solid #F2F2F2 6px;
  flex-shrink: 0;
}

.photos-grid {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
.photos-grid img {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  border-radius: 18px;
  scroll-snap-align: center;
}

.blog {
  text-align: center;
  padding: 0 16px;
}
.blog img {
  position: relative;
  width: 100%;
  height: 300px;
  border: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-header {
  position: relative;
  margin-bottom: 33px;
}

.first-blog {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
}
.first-blog h2 {
  font-size: 22px;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: stretch;
}
.author-info time {
  font-style: italic;
  color: #555;
}
.author-info img {
  width: 30px !important;
  height: 30px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.author-info p {
  font-weight: bold;
}

.first-blog h2,
.first-blog p,
.first-blog .author-info,
.first-blog time {
  color: #F2F2F2;
  text-align: start;
}

.grid-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.grid-blog article {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-blog article img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.grid-blog article h2 {
  color: var(--main-blue);
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-form-contact {
  display: flex;
  margin-bottom: 10px;
  gap: 30px;
  flex-direction: column;
  padding: 0 16px;
}
.contact-form-contact input[type=text],
.contact-form-contact input[type=email],
.contact-form-contact input[type=tel],
.contact-form-contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0C1C3F;
  box-sizing: border-box;
  font-size: 16px;
}
.contact-form-contact textarea {
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #0C1C3F;
  border-radius: 9px;
}
.contact-form-contact input[type=radio] {
  margin-right: 10px;
}
.contact-form-contact p {
  font-size: 16px;
  margin-bottom: 55px;
}
.contact-form-contact img {
  max-height: 500px;
  border-radius: 18px;
}
.contact-form-contact h3 {
  font-size: 16px;
  font-weight: 500;
}
.contact-form-contact input[type=checkbox] {
  margin-right: 10px;
}
.contact-form-contact button {
  padding: 10px 20px;
  background-color: #0C1C3F;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 11px;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 30px;
}
.contact-form-contact button:hover {
  background-color: #2959bf;
}

.form-txt {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.selector {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
}

.conditions-checkbox {
  display: flex;
  align-items: center;
}

.company-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
}
.company-info div {
  flex: 1;
  text-align: center;
}
.company-info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #0C1C3F;
}
.company-info a {
  display: block;
  text-decoration: none;
  font-size: 1em;
  margin-bottom: 10px;
}
.company-info a:hover {
  text-decoration: underline;
}

.newsletter {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter h3 {
  margin-bottom: 0px;
  font-size: 24px;
}
.newsletter form {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}
.newsletter input[type=email] {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  font-size: 16px;
}
.newsletter button {
  padding: 10px 20px;
  background-color: #DD2C26;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #f2f2f2;
  cursor: pointer;
}
.newsletter button:hover {
  background-color: #B7221B;
}

@media screen and (min-width: 900px) {
  .navbar-desk {
    display: flex;
  }
  .navbar-mobile {
    display: none;
  }
  .testimonial-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-main h2 {
    color: #DD2C26;
  }
}
@media screen and (min-width: 768px) {
  .white-header {
    flex-direction: row;
  }
  .white-header h1 {
    font-size: 48px;
    color: #F2F2F2;
  }
  .white-header p {
    font-size: 20px;
    color: #F2F2F2;
  }
  .intro p {
    margin-top: 0;
  }
  .color-header {
    min-width: 300px;
    flex-direction: row;
    margin-top: 150px;
  }
  .color-header-2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .color-header-2 h1 {
    font-size: 48px;
  }
  .metrics {
    flex-direction: row;
    gap: 11px;
  }
  .about-main {
    flex-direction: row;
  }
  .about-main h2 {
    font-size: 40px;
    color: #DD2C26;
  }
  .destinations-txt {
    flex-direction: row;
    margin-top: 150px;
  }
  .destinations-txt img {
    min-width: 300px;
  }
  .img2-destinations {
    display: flex;
  }
  .popular-destinations h2 {
    font-size: 48px;
  }
  .tourscolumns {
    gap: 10px;
  }
  .tourspics {
    display: flex;
  }
  .image-scroll-main img {
    width: 402px;
    height: 314px;
    border-radius: 18px;
  }
  .image-container {
    margin-bottom: 135px;
    margin-right: 175px;
    display: block;
  }
  .img2 {
    left: 50%;
    top: 30%;
  }
  .about-2 {
    flex-direction: row;
  }
  .testimonial-title h2 {
    font-size: 48px;
  }
  .testimonial-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .questions h2 {
    font-size: 48px;
  }
  .contact {
    flex-direction: row;
  }
  .contact-form {
    max-width: 400px;
    flex-direction: row;
  }
  .first-blog {
    padding: 33px;
  }
  .first-blog h2 {
    font-size: 32px;
  }
  .contact-form-contact {
    flex-direction: row;
  }
  .two-columns {
    grid-template-columns: 1fr 1fr;
  }
  .selector {
    flex-direction: row;
  }
  footer {
    padding: 60px;
  }
  .footer-bottom {
    flex-direction: row;
    gap: 0;
  }
  .footer-column-links {
    flex-direction: row;
    gap: 88px;
  }
  .footer-column-links a {
    font-weight: 500;
  }
}
.button {
  --primary: #0C1C3F;
  --primary-dark: #0A1735;
  --primary-darkest: #080F2B;
  --text: #F2F2F2;
  --text-opacity: 1;
  --success: #0C1C3F;
  --success-scale: .2;
  --success-opacity: 0;
  --border-radius: 7;
  --overflow: hidden;
  --rotate: 0;
  --plane-x: 0;
  --plane-y: 0;
  --plane-opacity: 1;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0;
  --left-wing-first-y: 0;
  --left-wing-second-x: 50;
  --left-wing-second-y: 0;
  --left-wing-third-x: 0;
  --left-wing-third-y: 100;
  --left-body-background: var(--primary);
  --left-body-first-x: 50;
  --left-body-first-y: 0;
  --left-body-second-x: 50;
  --left-body-second-y: 100;
  --left-body-third-x: 0;
  --left-body-third-y: 100;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 50;
  --right-wing-first-y: 0;
  --right-wing-second-x: 100;
  --right-wing-second-y: 0;
  --right-wing-third-x: 100;
  --right-wing-third-y: 100;
  --right-body-background: var(--primary);
  --right-body-first-x: 50;
  --right-body-first-y: 0;
  --right-body-second-x: 50;
  --right-body-second-y: 100;
  --right-body-third-x: 100;
  --right-body-third-y: 100;
  display: block;
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  margin: 0;
  line-height: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  background: none;
  outline: none;
  color: var(--text);
  transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
  -webkit-tap-highlight-color: transparent;
}

.button .left,
.button .right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: var(--plane-opacity);
  transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
}

.button .left:before,
.button .left:after,
.button .right:before,
.button .right:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: calc(var(--border-radius) * 1px);
  transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
  z-index: var(--z-index, 2);
  background: var(--background, var(--left-wing-background));
  -webkit-clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
  clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
}

.button .left:after {
  --x: 0;
  --z-index: 1;
  --background: var(--left-body-background);
  --first-x: var(--left-body-first-x);
  --first-y: var(--left-body-first-y);
  --second-x: var(--left-body-second-x);
  --second-y: var(--left-body-second-y);
  --third-x: var(--left-body-third-x);
  --third-y: var(--left-body-third-y);
}

.button .right:before {
  --x: -.4%;
  --z-index: 2;
  --background: var(--right-wing-background);
  --first-x: var(--right-wing-first-x);
  --first-y: var(--right-wing-first-y);
  --second-x: var(--right-wing-second-x);
  --second-y: var(--right-wing-second-y);
  --third-x: var(--right-wing-third-x);
  --third-y: var(--right-wing-third-y);
}

.button .right:after {
  --x: 0;
  --z-index: 1;
  --background: var(--right-body-background);
  --first-x: var(--right-body-first-x);
  --first-y: var(--right-body-first-y);
  --second-x: var(--right-body-second-x);
  --second-y: var(--right-body-second-y);
  --third-x: var(--right-body-third-x);
  --third-y: var(--right-body-third-y);
}

.button span {
  display: block;
  position: relative;
  z-index: 4;
  opacity: var(--text-opacity);
}

.button span.success {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
  opacity: var(--success-opacity);
  color: var(--success);
}/*# sourceMappingURL=styles.css.map */