.menu-header {
    padding: 11px;
    display: flex;
    justify-content: end;
  }
  
  .container {
    max-width: 1400px;
    margin: 33px auto;
  }

  h1, h2 {
    font-weight: 700;
    font-size: 40px;
    color: $main-red;
  }
 
  
  .white-header {
    @include bg-img('https://public.mssnapps.com/T9HkSFAze5hFYNM1xqRaX8N0vmK9bY9I.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 80px;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    flex-direction: column;
  
    h1 {
      color: #000;
      font-size: 20px;
    }
  
    p {
      color: #000;
      font-size: 16px;
    }
  }
  
  .color-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 16px;
  
    h1 {
      margin: 0px;
    }
  
    img {
      display: flex;
      max-width: 500px;
      @include gallery-img($main-white);
      justify-content: center;
      margin: 30px;
      width: 100%;
    }
  
    p {
      font-size: 16px;
      color: $main-blue;
    }
  
    button {
      padding: 10px 20px;
      background-color: $main-blue;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1em;
      cursor: pointer;
      margin-top: 11px;
  
      &:hover {
        background-color: $main-blue-btn-hover;
      }
    }
  }
  
  .color-header2 {
    padding-top: 30px;
    text-align: center;

    h1 {
      color: $main-red;
      margin-bottom: 20px;
      font-weight: bold !important;
    }
  
    p {
      font-size: 1.2em;
      margin-bottom: 40px;
    }
  }
  .color-header-2 {
    text-align: center;
    padding-top: 100px;
  
    h1 {
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2em;
      margin-bottom: 40px;
    }
  }
  
  .headerText {
    max-width: 650px;
  }
  
  .tower {
    max-width: 280px;
    border-radius: 18px;
    border: solid $main-white 6px;
  }
  
  .pill {
    background-color: $main-red;
    color: $main-white;
    position: absolute;
    top: 20px;
    right: 25px;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
  }
  
  .imgWrapper {
    position: relative;
    display: flex;
    align-items: end;
  
  }
  
  .fantasia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: $main-white;
    color: $main-blue;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 18px 0px 18px 0px;
    width: 70%;
    height: 55px;
    padding: 16px;
    font-weight: bold;
  }
  
  .svg-container {
    display: flex;
    align-items: center;
    color: #0C1C3F;
    font-size: 14px;
  }
  
  .custom-svg {
    width: 12px;
    height: 11px;
    margin-right: 5px;
  }

  .visitas {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  
  .metrics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .metrics-indiv {
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;
  }
  
  .big-number {
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0px;
  }
  
  .about-main {
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
  
    img {
      max-width: 280px;
      border-radius: 0px 90px 0px 90px;
      border: solid var(--main-white) 6px;
      flex-direction: column;
      width: 100%;
    }
  
    h2 {
      color: $main-red;
      font-size: 20px;
    }
  
    p {
      max-width: 900px;
    }
  
    a {
      margin-top: 60px;
      display: block;
      font-weight: bold;
      color: $main-blue;
  
      &:hover {
        color: $main-blue-hover;
      }
    }
  }
  
  .destinations-txt {
    margin-top:100px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    padding: 0 16px;
  
    img {
      @include gallery-img($main-white);
      justify-content: center;
      width: 100%;
    }
  }
  
  .intro {
    max-width: 800px;
  
    p {
      font-size: 16px;
      color: $main-blue;
      margin-top: 50px;
  
    }
  
    button {
      padding: 10px 20px;
      background-color: $main-blue;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1em;
      cursor: pointer;
      margin-top: 11px;
  
      &:hover {
        background-color: $main-blue-btn-hover;
      }
    }
  }
  
  .popular-destinations {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
      color: $main-red;
    }
  
    p {
      margin-bottom: 30px;
    }
  }
  
  .destinations {
    h2 {
      color: $main-red;
    }
  }
  
  .image-scroll-main {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding: 10px 0;
  
    img {
      width: 247px;
      height: 193px;
      border-radius: 9px;
      flex-shrink: 0;
      flex-direction: column;
    }
  }
  
  .image-container {
    display: none;
    position: relative;
    margin: 0 auto;
    margin-bottom: 315px;
    width: 100%;
    height: 450px;
    max-width: 350px;
  
    &>img {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
  
  .about-2 {
    display: flex;
    gap: 60px;
    flex-direction: column;
    padding: 0 16px;
  
    img {
      object-fit: cover;
      @include gallery-img($main-white);
    }
  }
  
  .img2 {
    position: absolute;
    top: 70%;
    left: 0;
  }
  
  .text-2 {
    margin-right: 30px;
    
    p {
      max-width: 700px;
    }
  }
  
  .testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .testimonial-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  
    h2 {
      color: $main-red;
      font-size: 20px;
    }
  }
  
  .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .testimonial {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 15px;
      object-fit: cover;
    }
  
    h3 {
      margin: 10px 0;
      font-size: 1.2em;
    }
  
    p {
      font-size: 0.9em;
      color: #555;
    }
  }
  
  .questions-form {
    width: 80%;
    margin: 0 auto;
  }
  
  .questions {
    div {
      text-align: center;
      margin-bottom: 40px;
      color: black;
    }
  
    h2 {
      margin-bottom: 20px;
      color: $main-red;
      font-size: 20px;
    }
  }
  
  .contact {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
  
    img {
      max-width: 500px;
      @include gallery-img($main-white);
      width: 100%;
    }
  }
  
  .contact-txt {
    max-width: 800px;
    margin: 0 30px;
    
    p {
      color: $main-blue
    }
  
    button {
      padding: 10px 20px;
      background-color: $main-blue;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      cursor: pointer;
  
      &:hover {
        background-color: $main-blue-btn-hover;
      }
    }
  }
  
  .contact-form {
    max-width: 250px;
    margin: 0 auto;
  
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
    }
  
    textarea {
      resize: vertical;
    }
  
    button[type="submit"] {
      padding: 10px 20px;
      background-color: #0C1C3F;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      cursor: pointer;
  
      &:hover {
        background-color: #1D345E;
      }
    }
  }
  
  .img2-destinations {
    display: none;
    justify-content: center;
    max-width: 1400px;
    @include gallery-img($main-white);
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
  }
  
  .tourslist {
    h2 {
      text-align: end;
    }
  }
  
  .tourscolumns {
    display: flex;
    align-items: flex-start;
  
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      width: 900px;
    }
  
    li {
      background-color: #3D4143;
      color: $main-white;
      padding: 10px 50px;
      margin-bottom: 10px;
      border-radius: 9px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      text-align: center;
  
      &:hover {
        background-color: #BBC9D0;
        color: $main-blue;
      }
    }
  }
  
  .tourspics {
    display: none;
    overflow-x: auto;
  
    img {
      max-width: 300px;
      @include gallery-img($main-white);
      flex-shrink: 0;
    }
  }
  
  .photos-grid {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
  
    img {
      width: 300px;
      height: auto;
      flex-shrink: 0;
      border-radius: 18px;
      scroll-snap-align: center;
    }
  }
  
  .blog {
    text-align: center;
    padding: 0 16px;
  
    img {
      position: relative;
      width: 100%;
      height: 300px;
      border: 18px;
      object-fit: cover;
    }
  }
  
  .blog-header {
    position: relative;
    margin-bottom: 33px;
  }
  
  .first-blog {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px;
  
    h2 {
      font-size: 22px;
    }
  }
  
  
  .author-info {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: stretch;
  
    time {
      font-style: italic;
      color: #555;
    }
  
    img {
      width: 30px !important;
      height: 30px !important;
      object-fit: cover;
    }
  
    p {
      font-weight: bold;
    }
  }
  
  
  .first-blog h2,
  .first-blog p,
  .first-blog .author-info,
  .first-blog time {
    color: $main-white;
    text-align: start;
  }
  
  .grid-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  
    article {
      background: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
  
      h2 {
        color: var(--main-blue);
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
  
  .contact-form-contact {
    display: flex;
    margin-bottom: 10px;
    gap: 30px;
    flex-direction: column;
    padding: 0 16px;
  
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $main-blue;
      box-sizing: border-box;
      font-size: 16px;
    }
  
    textarea {
      padding: 10px;
      margin-bottom: 20px;
      background-color: transparent;
      border: 1px solid $main-blue;
      border-radius: 9px;
    }
  
    input[type="radio"] {
      margin-right: 10px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 55px;
    }
  
    img {
      max-height: 500px;
      border-radius: 18px;
    }
  
    h3 {
      font-size: 16px;
      font-weight: 500;
  
    }
  
    input[type="checkbox"] {
      margin-right: 10px;
    }
  
    button {
      padding: 10px 20px;
      background-color: $main-blue;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1em;
      cursor: pointer;
      margin-top: 11px;
      width: max-content;
      padding: 10px 30px;
  
      &:hover {
        background-color: $main-blue-hover;
      }
    }
  }
  
  .form-txt {
    display: flex;
    flex-direction: column;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .two-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  
  .selector {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
  }
  
  .conditions-checkbox {
    display: flex;
    align-items: center;
  }
  
  .company-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
  
    div {
      flex: 1;
      text-align: center;
    }
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: $main-blue;
    }
  
    a {
      display: block;
      text-decoration: none;
      font-size: 1em;
      margin-bottom: 10px;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .newsletter {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h3 {
      margin-bottom: 0px;
      font-size: 24px;
    }
  
    form {
      width: 100%;
      display: flex;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
      justify-content: center;
    }
  
    input[type="email"] {
      width: 70%;
      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
      background-color: #fff;
      font-size: 16px;
    }
  
    button {
      padding: 10px 20px;
      background-color: $main-red;
      border: none;
      border-radius: 0 5px 5px 0;
      color: #f2f2f2;
      cursor: pointer;
  
      &:hover {
        background-color: #B7221B;
      }
    }
  }
