footer {
    background-image: url('https://public.mssnapps.com/T9HkSFAze5hFYNM1xqRaX8N0vmK9bY9I.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
  }
  
  .footer-top {
    background-color: rgba(19, 44, 99, 0.42);
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    border-radius: 18px;
    max-width: 988px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
    color: $main-white;
    align-items: center;
    flex-direction: column;
    max-width: 988px;
    gap: 16px;
  }
  
  
  .footer-column-links {
    display: flex;
    flex-direction: column;
  
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 11px;
      margin: 5px 0;
    }
  
    li {
      margin-bottom: 5px;
      display: flex;
    }
  
    a {
      color: $main-white;
      text-decoration: none;
      font-weight: 200;
  
      &:hover {
        color: $main-red;
      }
    }
  }

  .social-media {
    font-size: 30px;

    a {
      color: $main-white;
      text-decoration: none;
    }
  }
  
  .copyright {
    margin-top: 20px;
    color: #F2F2F2;
    text-align: center;
  }
  
  .Aventoura-logo2 {
    max-width: 180px;
  }